.dashboard, #navigation-menu {
    background-color: #001421 !important;
}

#navigation-menu .menu-item, #header, .breadcrumbs {
    background-color: #001827 !important;
}

#navigation-menu .menu-item a {
    color: white !important;
}

.dashboard * {
    color: white;
}

.dashboard-module {
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

.dashboard-module:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(135deg, #7230ff, #5c60ff);
    margin: -3px;
    border-radius: 11px;
}

.dashboard-module * {
    background-color: #001421;
}

h2 {
    background-color: #001827 !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white !important;
}

.dashboard-module-content, .inline, .profit {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dashboard-module-content ul {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.dashboard-module-content ul li:hover {
    background-color: #001827;
}

.odd {
    background-color: #001421 !important;
}

.even {
    background-color: #001827 !important;
}

.profit {
    padding: 2rem;
    display: flex;
}

.profit span {
    margin: auto;
    background-image: linear-gradient(135deg, #0099ff, #605fff);
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;
    color: transparent;
}

@media screen and (max-width: 960px) {
    .dashboard-container {
        display: flex !important;
        flex-direction: column !important;
    }

    .dashboard-column {
        width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .profit span {
        font-size: 32px;
    }
}