@import "src/static/atoms";

.tos {
  max-width: 640px;
  width: 100%;
  padding: 5rem 40px 0;

  .content {
    font-size: 16px;
    color: $secondary-text-color;

    h5 {
      color: $dimmed-text-color;
      font-size: 18px;
      margin: 1rem 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .tos {
    width: 100%;
    padding: 4rem 1rem 0;
  }
}