@import "src/static/atoms";

.recovery {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  padding: 4rem 40px 0;
  margin: 0 auto;

  .desc {
    font-size: 16px;
    color: $dimmed-text-color;
    text-align: center;
    margin-bottom: 2rem;
  }

  .row {
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    color: $dimmed-text-color;
    font-size: 18px;

    &:first-child {
      color: $main-text-color;
      font-weight: 600;
    }

    .number {
      width: 3rem;
      text-align: center;
    }

    .username {
      display: flex;
      align-items: center;

      span {
        margin: 0 .5rem;
        color: $secondary-text-color;
        font-weight: 100;
        font-size: 14px;
      }
    }
  }

  .divider {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-image: linear-gradient(to right, $purple, $deviant-purple);
  }
}

@media screen and (max-width: 640px) {
  .recovery {
    padding: 4rem 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .recovery .row {
    font-size: 16px;

    .number {
      width: 2rem;
    }
  }
}