@import "src/static/atoms";

.duels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 40px 0;
  width: 100%;
  margin: 0 auto;

  .info {
    color: $secondary-text-color;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .rooms {
    display: flex;
    flex-wrap: wrap;

    .room {
      @include round-btn($purple);
      padding: 0;
      cursor: pointer;
      display: flex;
      position: relative;
      width: calc(33.3333% - 1.5rem);
      border-radius: 1.25rem;
      height: 6rem;
      margin: .75rem;

      * {
        cursor: pointer;
      }

      .amount {
        display: inline-flex !important;
        align-items: center;
        width: auto;
        padding: 5px 0;
        font-size: 32px;
        font-weight: 700;
        margin: auto;
        transition: .2s;
        z-index: 1;

        img {
          margin-left: 4px;
        }
      }

      .online-wrapper {
        position: absolute;
        width: 100%;
        display: flex;
        left: 0;
        bottom: 4px;
        color: $purple;
        transition: .2s;

        .online {
          display: flex;
          margin: 0 auto;
          text-align: center;
          align-items: center;
          font-weight: 300;
          font-size: 17px;

          i {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background-color: #00b000;
            margin-left: .5rem;
            margin-right: 4px;
          }

          div {
            padding-top: 2px;
            font-size: 19px;
            font-weight: 500;
          }
        }
      }

      &:hover, &.active {
        .online-wrapper, .amount {
          color: $bg-color;
        }
      }

      &.active {
        box-shadow: 0 0 .5rem $dark-purple;
      }
    }
  }

  .round-btn {
    @include round-btn($main-color);
    margin-top: 1.5rem;
    padding: 1rem 5rem;
    font-size: 22px;
    letter-spacing: 1px;
  }

  .profit {
    display: inline-flex;
    color: $secondary-text-color;
    font-size: 16px;
    margin-top: 1rem;

    img {
      height: 22px;
      width: 22px;
      margin-left: 3px;
    }
  }

  .current-online {
    position: absolute;
    bottom: .5rem;
    color: $secondary-text-color;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .duels {
    padding: 4rem 1rem 0;

    .rooms .room {
      width: calc(50% - 1.5rem);
    }
  }
}

@media screen and (max-width: 480px) {
  .duels .rooms .room {
    width: calc(50% - 1rem);
    margin: .5rem;
    border-radius: 1rem;
  }
}
