@import "src/static/atoms";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 20px 0;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;

  .link {
    cursor: pointer;
    color: $secondary-text-color;
    margin-top: .5rem;
    background-color: transparent;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .input-field {
    margin-bottom: 1rem;
  }

  .info {
    font-size: 18px;
    color: $dimmed-text-color;
    text-align: center;

    a {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      color: transparent;
      background-image: linear-gradient(135deg, $main-color, $deviant-blue);
      -webkit-background-clip: text;
      font-weight: 600;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-image: inherit;
        transition: .15s;
      }

      &:hover:before {
        width: 100%;
      }
    }
  }

  .agreement {
    margin-top: 1rem;
    font-size: 20px;
    color: $dimmed-text-color;
    text-align: center;
    white-space: normal;
    width: 150%;

    a {
      position: relative;
      cursor: pointer;
      color: transparent;
      background-image: linear-gradient(135deg, $main-color, $deviant-blue);
      -webkit-background-clip: text;
      font-weight: 600;
      white-space: nowrap;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-image: inherit;
        transition: .15s;
      }

      &:hover:before {
        width: 100%;
      }
    }
  }

  .deck {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    .card {
      width: 25%;
      padding: 4px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .buttons {
    display: flex;
    margin-top: 1rem;

    .purple {
      @include round-btn($purple);
      margin-right: 1rem;
      padding: 1rem 2rem;
    }
  }

  .round-btn {
    @include round-btn($main-color);
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 640px) {
  .login {
    padding: 4rem 1rem 0;

    .agreement {
      font-size: 17px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .login .buttons {
    flex-direction: column;
    width: 100%;

    .round-btn {
      width: 100%;

      &.purple {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}