@import "src/static/atoms";

.input-field {
  display: flex;
  border-radius: 1.6rem;
  width: 100%;
  position: relative;

  input, textarea {
    margin: 2px;
    position: relative;
    cursor: text;
    font-size: 16px;
    padding: 1rem 1.5rem;
    color: $dimmed-text-color;
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 1.5rem;
    background-color: $dark-bg-color;
    transition: .2s;
    z-index: 2;

    &:focus {
      transition: 0s;

      & ~ .border {
        opacity: 1;
        transition: 0s;
      }
    }
  }

  textarea {
    margin: 2px 2px;
    line-height: 20px;
    min-height: calc(105px + 2rem);
    resize: none;
    font-family: Nunito, sans-serif;

    @supports (resize: vertical) {
      &:focus {
        resize: vertical;
        border-bottom-right-radius: 0;

        & ~ .border {
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background-image: linear-gradient(135deg, $purple, $deviant-purple);
    z-index: 1;
    transition: .2s;
    opacity: .75;
  }
}

@media screen and (max-width: 1024px) {
  .input-field textarea:focus {
    border-bottom-right-radius: 1.5rem;
    resize: none;

    & ~ .border {
      border-bottom-right-radius: 1.5rem;
    }
  }
}