@import "src/static/atoms";

.navbar-clan {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  top: 0;
  left: 0;
  right: 0;
  min-height: 4rem;
  z-index: 100;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 1024px;
    margin: 0 auto;
    z-index: 2;

    .menu-toggler {
      display: none;
      margin-left: auto;
      height: 2rem;
      margin-right: 1.5rem;

      img {
        cursor: pointer;
        height: 100%;
      }
    }

    .logo-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      left: 1.5rem;
      top: 0;
      height: 100%;
      text-decoration: none;

      * {
        cursor: pointer;
      }

      .logo {
        display: flex;
        align-items: center;
        height: 2rem;
        position: relative;
        //box-shadow: 0 0 8px rgba($main-color, .3);
        //background-color: rgba($main-color, .15);

        img {
          height: 100%;
          z-index: 2;
        }

        .clan {
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          width: 200%;
          height: 100%;
          z-index: 1;

          span {
            margin: auto;
            font-size: 30px;
            line-height: 30px;
            color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, rgba($main-text-color, .3), $dimmed-text-color);
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }
    }

    .links {
      display: flex;
      margin: 0 auto;

      a {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        padding: 0 .5rem;
        color: $main-text-color;
        text-decoration: none;
        transition: .2s;

        &:hover {
          text-shadow: 0 0 .25rem rgba($main-text-color, .5);
        }

        &.active {
          text-shadow: 0 0 .25rem rgba($main-text-color, .5);

          &:after {
            @keyframes appear {
              0% {
                margin: 0 50%;
                width: 0;
              }
              100% {
                margin: 0;
                width: 100%;
              }
            }

            position: absolute;
            margin: 0 50%;
            content: "";
            border-radius: 2px;
            left: 0;
            bottom: -3px;
            height: 3px;
            width: 90%;
            background-image: linear-gradient(to right, $main-color, $purple);
            animation: appear .2s forwards;
          }
        }
      }
    }

    .side-panel {
      position: absolute;
      right: 1.5rem;
      top: 0;
      height: 100%;
    }
  }

  .side-panel {
    display: flex;
    align-items: center;

    .mainpage {
      display: flex;
      cursor: pointer;
      font-size: 20px;
      padding: 0 .5rem;
      color: $main-text-color;
      text-decoration: none;
      transition: .2s;

      &:hover {
        text-shadow: 0 0 .25rem rgba($main-text-color, .5);
      }

      * {
        cursor: pointer;
      }

      svg {
        opacity: .8;
        width: 2rem;
        height: 2rem;
        transition: .2s;

        &:hover {
          opacity: 1;
        }
      }
    }

    .language {
      cursor: pointer;
      position: relative;
      margin-left: .5rem;
      border-radius: 5px;
      background-image: linear-gradient(135deg, $purple, $deviant-purple);
      background-size: 150%;
      transition: .2s;

      * {
        cursor: pointer;
      }

      span {
        padding: 0 .5rem;
        font-size: 18px;
        font-weight: 500;
        color: $bg-color;
      }

      .variants {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        background-image: linear-gradient(65deg, $purple, $deviant-purple);
        background-size: 150%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: .2s;

        div {
          text-align: center;
          color: $dimmed-text-color;

          &:hover, &.active {
            color: $main-text-color;
          }
        }
      }

      &.expanded {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .variants {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .slider {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    background: #001827;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .2);
    padding-left: 2rem;
    transition: .3s;
    z-index: 100;

    &.active {
      right: 0
    }

    .links {
      display: flex;
      flex-direction: column;
      min-width: 12rem;
      padding-top: 1.5rem;

      a {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        padding: .5rem .5rem;
        color: $main-text-color;
        text-decoration: none;

        &.active {
          text-shadow: 0 0 .25rem rgba($main-text-color, .5);

          &:after {
            position: absolute;
            content: "";
            border-radius: 2px;
            left: -3px;
            top: 0;
            height: 100%;
            width: 3px;
            background-image: linear-gradient(to bottom, $main-color, $purple);
          }
        }
      }

      .side-panel {
        flex-direction: column;
        align-items: flex-start;
        padding-left: .5rem;
        margin-top: 4rem;

        .mainpage {
          padding: 0;
          margin-bottom: 8px;
        }

        .language {
          margin-top: 1rem;
        }
      }
    }

    .close-menu {
      height: 18px;
      width: 18px;
      margin-left: auto;
      padding: 0;
      margin-top: 1.5rem;
      margin-right: 2rem;
      background: none;
      border: none;

      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-clan {
    .wrapper {
      width: 100%;
    }

    .wrapper .links, .wrapper .side-panel {
      display: none;
    }

    .slider, .wrapper .menu-toggler {
      display: flex;

      .links .language {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}