@import "src/static/atoms";

.clan-rules {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  padding: 5rem 40px 0;

  .content .group {
    background-color: $dark-bg-color;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    color: $secondary-text-color;
    margin-bottom: 2rem;

    h5 {
      color: $dimmed-text-color;
      margin: 0;
      font-weight: 600;
      font-size: 18px;
    }

    ul {
      padding-left: 1rem;

      li {
        img {
          height: 18px;
          vertical-align: sub;
          margin-left: 4px;
        }

        span {
          font-weight: 600;
        }

        a {
          position: relative;
          cursor: pointer;
          color: transparent;
          background-image: linear-gradient(135deg, $main-color, $deviant-blue);
          -webkit-background-clip: text;
          font-weight: 600;
          white-space: nowrap;

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-image: inherit;
            transition: .15s;
          }

          &:hover:before {
            width: 100%;
          }
        }
      }
    }
  }

  .round-btn {
    @include round-btn($main-color);
    align-self: center;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 640px) {
  .clan-rules {
    width: 100%;
    padding: 4rem 1rem 0;

    .round-btn {
      width: 296px;
      padding: 1rem 0;
    }
  }
}