@import "src/static/atoms";

.deposit {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    position: relative;
    width: 100%;
    max-width: 350px;
    padding: 0 3rem;

    a {
      position: absolute;
      height: 100%;
      display: flex;
      cursor: pointer;
      opacity: .8;
      transition: .2s;
      left: 0;

      &.right {
        right: 0;
        bottom: 0;
        left: initial;

        img {
          height: 1.5rem;
          transform: none
        }
      }

      &:hover {
        opacity: 1;
      }

      img {
        cursor: pointer;
        width: 1.5rem;
        margin: auto 0;
        transform: rotate(90deg);
      }
    }
  }

  .round-btn {
    @include round-btn($main-color);
    padding: 1rem 2rem;
    min-width: 12rem;
    margin-top: 1rem;


    span {
      display: inline-flex;
      align-items: center;
      margin: 0 auto;
      width: auto;

      img {
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }

  .desc {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 16px;
    color: $secondary-text-color;
    display: inline-flex;
    align-items: center;

    img {
      height: 20px;
    }
  }

  .scroller-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 350px;
    width: 100%;
    margin-top: 1rem;

    &:before, &:after {
      content: "";
      position: absolute;
      height: 100%;
      min-width: 1rem;
      top: 0;
      z-index: 2;
    }

    &:before {
      left: 0;
      background-image: linear-gradient(to right, $bg-color, rgba($bg-color, 0));
    }

    &:after {
      right: 0;
      background-image: linear-gradient(to left, $bg-color, rgba($bg-color, 0));
    }

    .withdraw-options {
      display: flex;
      overflow-x: scroll;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0 !important;
      }

      &:before, &:after {
        content: "";
        display: block;
        min-width: 1rem;
      }

      .option {
        @include round-btn($purple);
        background-color: $dark-bg-color;
        min-height: 5rem;
        min-width: 8rem;
        max-height: 5rem;
        max-width: 8rem;
        margin-right: 1rem;
        border-radius: 1rem;
        padding: 0;

        * {
          cursor: pointer;
        }

        span {
          display: inline-flex;
          flex-direction: column;
          margin: auto;

          .logo {
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 60%;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            -webkit-mask-size: 60%;
            background-color: $bg-color;

            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 2rem;
              mask: inherit;
              background-image: linear-gradient(135deg, $purple, $deviant-purple);
              transition: .2s;
            }
          }

          div {
            margin-top: 4px;
            font-size: 12px;
            line-height: 12px;
          }
        }

        &:hover, &.active {
          span .logo:after {
            opacity: 0;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .subtitle {
    margin: 1rem 0;
    color: $main-text-color;
    font-size: 20px;
  }

  .payments-list {
    width: 100%;

    .payment {
      position: relative;
      display: flex;
      align-items: center;
      background-color: $dark-bg-color;
      font-size: 22px;
      border-radius: 1.5rem;
      height: 3rem;
      padding: 0 1.5rem;
      margin-bottom: 1rem;

      &:after {
        content: "";
        position: absolute;
        right: -2px;
        bottom: -2px;
        top: -2px;
        left: -2px;
        background-image: linear-gradient(135deg, $main-color, $deviant-blue);
        z-index: -1;
        border-radius: 1.6rem;
      }

      .amount {
        display: flex;
        width: 50%;
        align-items: center;
        color: white;
        font-weight: 700;
        margin-right: 1rem;

        span {
          font-weight: 400;
          margin-right: .5rem;
        }
      }

      .status {
        display: flex;
        align-items: center;
        color: white;

        span {
          font-weight: 700;
          margin-left: .5rem;
          white-space: nowrap;
        }

        &.ongoing span, &.processing span, &.queue span {
          color: $dimmed-text-color;
        }

        &.success span {
          color: transparent;
          background-image: linear-gradient(135deg, $purple, $deviant-purple);
          -webkit-background-clip: text;
        }

        &.failed span {
          color: $secondary-text-color;
        }
      }
    }
  }

  .withdraws-list {
    width: 100%;

    .withdraw {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $dark-bg-color;
      font-size: 22px;
      border-radius: 1.5rem;
      padding: 0 1.5rem;
      margin-bottom: 1rem;

      &:after {
        content: "";
        position: absolute;
        right: -2px;
        bottom: -2px;
        top: -2px;
        left: -2px;
        background-image: linear-gradient(135deg, $main-color, $deviant-blue);
        z-index: -1;
        border-radius: 1.6rem;
      }

      .row {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        height: 3rem;
        color: $main-text-color;

        .amount {
          display: flex;
          width: 50%;
          align-items: center;
          color: white;
          font-weight: 700;
          margin-right: 1rem;

          span {
            font-weight: 400;
            margin-right: .5rem;
          }
        }

        .status {
          display: flex;
          align-items: center;
          color: white;
          white-space: nowrap;

          span {
            font-weight: 700;
            margin-left: .5rem;
          }

          &.ongoing span, &.processing span, &.queue span {
            color: $dimmed-text-color;
          }

          &.success span {
            color: transparent;
            background-image: linear-gradient(135deg, $purple, $deviant-purple);
            -webkit-background-clip: text;
          }

          &.failed span {
            color: $secondary-text-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .deposit {
    max-width: 350px;
    width: 100%;

    .payments-list .payment {
      font-size: 16px;
    }

    .withdraws-list .withdraw .row {
      font-size: 16px;
      height: 2rem !important;

      &:first-child {
        align-items: flex-end;
      }
    }
  }
}