@import "src/static/atoms";

.error-page {
  display: flex;
  width: 100%;

  .container {
    margin: auto;

    .glitch {
      margin: 0 auto;
      position: relative;
      font-size: 4rem;
      font-weight: 600;
      color: $secondary-text-color;
      transform: scale3d(1, 1, 1);
      white-space: nowrap;
    }

    .glitch::before, .glitch::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      color: $main-text-color;
      background-color: $bg-color;
    }

    .glitch::before {
      left: 3px;
      text-shadow: 4px 0 $purple;
      animation: glitch-effect 2s infinite linear alternate-reverse;
    }

    .glitch::after {
      left: -3px;
      text-shadow: -4px 0 $main-color;
      animation: glitch-effect 1.5s infinite linear alternate-reverse;
    }

    @keyframes glitch-effect {
      0% {
        clip-path: inset(78% 0 68% 0);
      }

      2% {
        clip-path: inset(69% 0 91% 0);
      }

      4% {
        clip-path: inset(52% 0 84% 0);
      }

      6% {
        clip-path: inset(74% 0 97% 0);
      }

      8% {
        clip-path: inset(26% 0 51% 0);
      }

      10% {
        clip-path: inset(98% 0 34% 0);
      }

      12% {
        clip-path: inset(74% 0 22% 0);
      }

      14% {
        clip-path: inset(43% 0 91% 0);
      }

      16% {
        clip-path: inset(30% 0 73% 0);
      }

      18% {
        clip-path: inset(29% 0 79% 0);
      }

      20% {
        clip-path: inset(41% 0 82% 0);
      }

      22% {
        clip-path: inset(7% 0 100% 0);
      }

      24% {
        clip-path: inset(34% 0 6% 0);
      }

      26% {
        clip-path: inset(36% 0 86% 0);
      }

      28% {
        clip-path: inset(15% 0 74% 0);
      }

      30% {
        clip-path: inset(58% 0 94% 0);
      }

      32% {
        clip-path: inset(4% 0 19% 0);
      }

      34% {
        clip-path: inset(20% 0 58% 0);
      }

      36% {
        clip-path: inset(2% 0 45% 0);
      }

      38% {
        clip-path: inset(92% 0 84% 0);
      }

      40% {
        clip-path: inset(15% 0 2% 0);
      }

      42% {
        clip-path: inset(99% 0 11% 0);
      }

      44% {
        clip-path: inset(67% 0 53% 0);
      }

      46% {
        clip-path: inset(50% 0 30% 0);
      }

      48% {
        clip-path: inset(37% 0 38% 0);
      }

      50% {
        clip-path: inset(18% 0 96% 0);
      }

      52% {
        clip-path: inset(91% 0 4% 0);
      }

      54% {
        clip-path: inset(85% 0 18% 0);
      }

      56% {
        clip-path: inset(9% 0 49% 0);
      }

      58% {
        clip-path: inset(91% 0 35% 0);
      }

      60% {
        clip-path: inset(54% 0 59% 0);
      }

      62% {
        clip-path: inset(51% 0 44% 0);
      }

      64% {
        clip-path: inset(61% 0 18% 0);
      }

      66% {
        clip-path: inset(57% 0 65% 0);
      }

      68% {
        clip-path: inset(100% 0 95% 0);
      }

      70% {
        clip-path: inset(42% 0 77% 0);
      }

      72% {
        clip-path: inset(4% 0 15% 0);
      }

      74% {
        clip-path: inset(4% 0 1% 0);
      }

      76% {
        clip-path: inset(4% 0 64% 0);
      }

      78% {
        clip-path: inset(86% 0 43% 0);
      }

      80% {
        clip-path: inset(4% 0 33% 0);
      }

      82% {
        clip-path: inset(42% 0 77% 0);
      }

      84% {
        clip-path: inset(47% 0 7% 0);
      }

      86% {
        clip-path: inset(47% 0 37% 0);
      }

      88% {
        clip-path: inset(26% 0 99% 0);
      }

      90% {
        clip-path: inset(44% 0 52% 0);
      }

      92% {
        clip-path: inset(48% 0 35% 0);
      }

      94% {
        clip-path: inset(86% 0 73% 0);
      }

      96% {
        clip-path: inset(98% 0 55% 0);
      }

      98% {
        clip-path: inset(57% 0 96% 0);
      }

      100% {
        clip-path: inset(97% 0 46% 0);
      }
    }

    .joke {
      color: $secondary-text-color;
      font-size: 20px;
      text-align: center;
      margin-top: 2rem;
      animation: disappear 30s forwards;

      @keyframes disappear {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}