@import "src/static/atoms";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 20px 0;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  .duels-list {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-top: 2rem;
    width: 100%;

    .duel-log {
      position: relative;
      padding: .5rem 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      border-radius: 16px;
      background-color: $dark-bg-color;
      background-clip: padding-box;
      border: 2px solid transparent;
      margin-bottom: 1.5rem;

      .players {
        display: contents;
      }

      &:before {
        content: "";
        position: absolute;
        border-radius: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: -2px;
        background-image: linear-gradient(135deg, $main-color, $deviant-blue);
        opacity: .6;
        z-index: -1;
      }

      .vs {
        display: flex;
        margin: 0 1rem;
        height: 40px;
        background-image: linear-gradient(135deg, $main-color, $deviant-blue);
        -webkit-background-clip: text;
        color: transparent;

        span {
          height: 90%;
          align-self: flex-start;
          font-size: 30px;
          font-weight: 700;

          &:last-child {
            align-self: flex-end;
          }
        }
      }

      .you {
        font-size: 28px;
        color: white;
        font-weight: 500;
      }

      .player {
        display: flex;
        flex-direction: column;
        align-items: center;

        .username {
          display: flex;
          align-self: center;
          color: $main-text-color;
          font-size: 20px;
          font-weight: 500;
        }

        .tag {
          font-size: 12px;
          color: $secondary-text-color;
        }
      }

      .result {
        display: flex;
        align-items: center;
        margin-left: auto;

        span {
          font-size: 28px;
          font-weight: 700;
          color: $secondary-text-color;
          opacity: .8;
        }

        img {
          height: 28px;
        }
      }

      &.win {
        box-shadow: 0 0 0.75rem rgba($deviant-blue, .5);

        .result span {
          -webkit-background-clip: text;
          color: transparent;
          background-image: linear-gradient(135deg, $purple, $deviant-purple);
          opacity: 1;
        }
      }
    }
  }

  h3 {
    position: relative;
    margin-bottom: .5rem;
    width: 100%;
    max-width: 480px;

    img {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .8;
      height: 1.5rem;
      width: auto;
      transition: .2s;

      &.logout {
        left: initial;
        right: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .info {
    display: flex;
    color: $secondary-text-color;
    font-size: 16px;

    div {
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: 1rem;
      }

      img {
        height: 22px;
        width: 22px;
        margin-left: 3px;
      }
    }
  }

  .blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .block {
      width: 50%;
      padding: 0 1rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading {
        color: $main-text-color;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin: 3rem 0 1rem;
      }

      .applied-message {
        display: flex;
        height: 3rem;
        align-items: center;
        padding: 0 1.5rem;
        background-image: linear-gradient(135deg, $main-color, $deviant-blue);
        border-radius: 10px;
        font-size: 24px;
        color: $bg-color;
        font-weight: 600;
      }

      .invited-by {
        margin-top: 1rem;
        font-size: 16px;
        color: $secondary-text-color;
      }

      .info-row {
        color: $dimmed-text-color;
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;

        img {
          vertical-align: text-top;
          height: 22px;
          width: 22px;
          margin-left: 3px;
        }

        .input-field {
          margin-top: 1rem;
          margin-bottom: 0;
        }
      }

      .input-field {
        margin-bottom: 1rem;
      }

      .round-btn {
        @include round-btn($main-color);
        padding: 1rem 4rem;
      }
    }
  }

  .ref-code {
    text-transform: uppercase;

    &::placeholder {
      text-transform: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .profile .blocks {
    flex-direction: column;

    .block {
      width: 100%;
      padding: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .profile {
    padding: 4rem 1rem 0;

    .duels-list .duel-log {
      .you {
        display: none;
      }

      .vs {
        display: none;
      }

      .player {
        .username {
          font-size: 18px;
        }

        .tag {
          align-self: flex-start;
        }
      }

      .result {
        img {
          height: 20px;
        }

        span {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .profile h3 {
    padding-top: 2rem;
    font-size: 24px;
  }
}