@import "src/static/atoms";

.popup {
  @keyframes popup-appear {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .75);
  z-index: 101;
  animation: popup-appear 2.5s forwards;

  .card {
    position: relative;
    display: flex;
    margin: auto;
    background-color: $dark-bg-color;
    background-clip: padding-box;
    width: 318px;
    padding: 1.5rem;
    border-radius: 1.5rem;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      box-shadow: 0 0 .5rem rgba(white, .3);
      bottom: 0;
      left: 0;
      right: 0;
      margin: -3px;
      border-radius: 1.6rem;
      background-image: linear-gradient(135deg, $main-color, $purple);
      z-index: -1;
    }

    span {
      -webkit-background-clip: text;
      text-align: center;
      color: transparent;
      margin: auto;
      font-size: 20px;
      font-weight: 600;
      animation: text-gradient 2.5s forwards linear;

      @keyframes text-gradient {
        0% {
          background-image: linear-gradient(100deg, $secondary-text-color 0%, $main-text-color 0%, $secondary-text-color 0%);
        }
        @for $i from 0 through 89 {
          #{$i}% {
            background-image: linear-gradient(100deg, $secondary-text-color 1.11% * $i - 15%, $main-text-color 1.11% * $i, $secondary-text-color 1.11% * $i + 15%);
          }
        }
        90% {
          opacity: 1;
          background-image: linear-gradient(100deg, $secondary-text-color 0%, $main-text-color 0%, $secondary-text-color 0%);
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
