@import "src/static/atoms";

.support {
  width: 100%;
  max-width: 480px;
  padding: 4rem 20px 0;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-field {
      margin-bottom: 1.5rem;
    }

    .round-btn {
      @include round-btn($main-color);
      padding: 1rem 4rem;
    }
  }

  .info {
    margin-top: 1.5rem;
    color: $secondary-text-color;
    opacity: .6;
    text-align: center;

    a {
      cursor: pointer;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .support {
    width: 100%;
    padding: 4rem 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .leaderboard .row {
    font-size: 16px;

    .number {
      width: 2rem;
    }

    .amount {
      margin-right: .5rem;
    }
  }
}