@import "src/static/atoms";

.duel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 40px 0;
  width: 100%;
  margin: 0 auto;

  h4 {
    font-size: 30px;
    color: $main-text-color;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .opponents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    .username {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 28px;
      color: $main-text-color;

      span:last-child {
        font-size: 16px;
        color: $secondary-text-color;
      }
    }

    .vs {
      margin: 1rem 0;
      display: flex;
      height: 50px;

      span {
        align-self: flex-end;
        font-size: 40px;
        font-weight: 700;
        color: $main-color;

        &:last-child {
          color: $purple;
          align-self: flex-start;
        }
      }
    }
  }

  .stake {
    display: flex;
    font-size: 24px;
    color: $bg-color;
    font-weight: 500;
    align-items: center;
    background-image: linear-gradient(135deg, $main-color, $purple);
    padding: .5rem 1rem;
    border-radius: 10px;

    span {
      display: inline-flex;
      font-weight: 600;
      margin-left: .5rem;
      //text-shadow: 0 0 8px $dark-purple;

      img {
        align-self: center;
        margin-left: 4px;
        height: 28px;
      }
    }
  }

  .info {
    color: $secondary-text-color;
    font-size: 15px;
    margin: 1rem 0 .5rem;
    max-width: 16rem;
    text-align: center;
  }

  .winner {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    background-image: linear-gradient(to right, $main-color, $purple);
    -webkit-background-clip: text;
    color: transparent;

    span {
      color: $dimmed-text-color;
    }
  }

  .mainpage-link {
    font-size: 16px;
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    color: $secondary-text-color;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .contact-support {
    cursor: pointer;
    font-size: 16px;
    color: $secondary-text-color;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 1rem;
    transition: .2s;

    &:hover {
      color: $dimmed-text-color;
    }
  }

  .round-btn {
    @include round-btn($main-color);
    width: 85%;
    max-width: 16rem;

    &.purple {
      @include round-btn($purple);
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .duel {
    padding: 4rem 1rem 0;
  }
}

