@import "src/static/atoms";

.leaderboard {
  max-width: 640px;
  width: 100%;
  padding: 4rem 40px 0;
  margin: 0 auto;

  .row {
    display: flex;
    align-items: center;
    height: 3rem;
    color: $dimmed-text-color;
    font-size: 18px;

    &.empty {
      border-color: $purple;

      div {
        text-align: center;
        width: 100%;
        font-weight: 700;
      }
    }

    &:first-child {
      color: $main-text-color;
      font-weight: 600;
    }

    .number {
      width: 3rem;
      text-align: center;
    }

    .amount {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-right: 1rem;

      img {
        height: 1.5rem;
      }
    }
  }

  .divider {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-image: linear-gradient(to right, $main-color, $deviant-blue);

    &.purple {
      background-image: linear-gradient(to left, $purple, $deviant-purple);
    }
  }
}

@media screen and (max-width: 640px) {
  .leaderboard {
    padding: 4rem 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .leaderboard .row {
    font-size: 16px;

    .number {
      width: 2rem;
    }

    .amount {
      margin-right: .5rem;
    }
  }
}