@import "src/static/atoms";

.rating {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  padding: 4rem 40px 0;
  margin: 0 auto;

  .board {
    margin-bottom: 1rem;
  }

  .row {
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    color: $dimmed-text-color;
    font-size: 18px;

    &:first-child {
      color: $main-text-color;
      font-weight: 600;
    }

    .ranking {
      .callback {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        .left {
          display: flex;
          opacity: .3;
          background-image: linear-gradient(135deg, $purple, $deviant-purple);
        }

        .right {
          margin-left: auto;
          width: 50%;
          opacity: .3;
          background-image: linear-gradient(135deg, $main-color, $deviant-blue);
        }
      }

      .buttons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        button {
          border: none;
          background-color: transparent;
          width: 50%;
        }
      }
    }

    .number {
      width: 3rem;
      text-align: center;
    }

    .username {
      display: flex;

      .info {
        display: flex;
        align-items: center;

        span {
          margin: 0 .5rem;
          color: $secondary-text-color;
          font-weight: 100;
          font-size: 14px;
        }

        img {
          height: 18px;
          margin-right: 2px;
        }
      }
    }

    .score {
      min-width: 4rem;
      text-align: right;
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  .round-btn {
    @include round-btn($purple);

    &.blue {
      @include round-btn($main-color);
    }

    align-self: center;
    margin-top: 1rem;
    width: 240px;
  }

  .divider {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-image: linear-gradient(to right, $main-color, $deviant-blue);
  }
}

@media screen and (max-width: 640px) {
  .rating {
    padding: 4rem 1rem 0;

    .row {
      height: 3.5rem;

      .username {
        flex-direction: column;

        .info span {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .rating .row {
    font-size: 16px;

    .number {
      width: 2rem;
    }
  }
}