@import "src/static/atoms";

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  top: 0;
  left: 0;
  right: 0;
  min-height: 4rem;
  z-index: 100;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 1024px;
    margin: 0 auto;
    z-index: 2;

    .menu-toggler {
      display: none;
      margin-left: auto;
      height: 2rem;
      margin-right: 1.5rem;

      img {
        cursor: pointer;
        height: 100%;
      }
    }

    .logo-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      left: 1.5rem;
      top: 0;
      height: 100%;
      overflow: hidden;

      * {
        cursor: pointer;
      }

      .logo {
        display: flex;
        height: 22px;

        img {
          height: 100%;

          &:first-child {
            @keyframes logo-left {
              0% {
                opacity: 0;
                margin-top: -32px;
              }
              100% {
                opacity: 1;
                margin-top: 0;
              }
            }
            animation: logo-left .5s forwards;
          }

          &:last-child {
            @keyframes logo-right {
              0% {
                opacity: 0;
                margin-top: 32px;
              }
              100% {
                opacity: 1;
                margin-top: 0;
              }
            }
            opacity: 0;
            height: 21.5px;
            margin-top: 23.5px;
            margin-left: 2px;
            animation: logo-right .8s forwards ease-out;
          }
        }
      }
    }

    .links {
      display: flex;
      margin: 0 auto;

      a {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        padding: 0 .5rem;
        color: $main-text-color;
        text-decoration: none;
        transition: .2s;

        &:hover {
          text-shadow: 0 0 .25rem rgba($main-text-color, .5);
        }

        &.active {
          text-shadow: 0 0 .25rem rgba($main-text-color, .5);

          &:after {
            @keyframes appear {
              0% {
                margin: 0 50%;
                width: 0;
              }
              100% {
                margin: 0;
                width: 100%;
              }
            }

            position: absolute;
            margin: 0 50%;
            content: "";
            border-radius: 2px;
            left: 0;
            bottom: -3px;
            height: 3px;
            width: 90%;
            background-image: linear-gradient(to right, $main-color, $purple);
            animation: appear .2s forwards;
          }
        }
      }
    }

    .profile-info {
      position: absolute;
      right: 1.5rem;
      top: 0;
      height: 100%;
    }
  }

  .notification {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: .5rem 2.5rem .5rem .5rem;
    position: relative;
    background-image: linear-gradient(135deg, $main-color, $deviant-blue);
    animation: notification-appear 1s forwards;
    animation-delay: 1s;
    margin-top: -100rem;
    opacity: 0;
    z-index: 1;

    @keyframes notification-appear {
      0% {
        opacity: 0;
        margin-top: 0;
      }

      100% {
        opacity: 1;
        margin-top: 0;
      }
    }

    span {
      font-size: 18px;
      color: $bg-color;
      font-weight: 500;
      text-align: center;
      width: 100%;
    }

    .img {
      position: absolute;
      cursor: pointer;
      display: flex;
      align-items: center;
      right: 0;
      height: 100%;
      width: 1.5rem;
      margin-right: .5rem;

      img {
        width: 100%;
        cursor: pointer;
        transform: rotate(45deg);
      }
    }
  }

  .language {
    cursor: pointer;
    position: relative;
    margin-left: .5rem;
    border-radius: 5px;
    background-image: linear-gradient(135deg, $purple, $deviant-purple);
    background-size: 150%;
    transition: .2s;

    * {
      cursor: pointer;
    }

    span {
      padding: 0 .5rem;
      font-size: 18px;
      font-weight: 500;
      color: $bg-color;
    }

    .variants {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      background-image: linear-gradient(65deg, $purple, $deviant-purple);
      background-size: 150%;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      transition: .2s;

      div {
        text-align: center;
        color: $dimmed-text-color;

        &:hover, &.active {
          color: $main-text-color;
        }
      }
    }

    &.expanded {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .variants {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .profile-info {
    display: flex;
    align-items: center;

    .tag {
      cursor: pointer;
      text-decoration: none;
      color: $main-text-color;
      font-size: 18px;
      font-weight: 600;
      transition: .2s;

      &:hover, &.active {
        text-shadow: 0 0 .25rem rgba($main-text-color, .5);
      }
    }

    .balance {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      background-image: linear-gradient(135deg, $main-color, $deviant-blue);
      padding: .5rem;
      opacity: .85;
      margin-left: .5rem;
      border-radius: 1.5rem;
      transition: .2s;

      img {
        cursor: pointer;
        height: 20px;

        &:first-child {
          margin-right: -8px;
        }
      }

      span {
        cursor: pointer;
        font-size: 16px;
        min-width: 1.5rem;
        text-align: right;
        font-weight: 700;
        color: $bg-color;
        margin-left: 2px;
        margin-right: 4px;
      }

      &:hover, &.active {
        opacity: 1;
      }
    }
  }

  .slider {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    background: #001827;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .2);
    padding-left: 2rem;
    transition: .3s;
    z-index: 100;

    &.active {
      right: 0
    }

    .links {
      display: flex;
      flex-direction: column;
      min-width: 12rem;
      padding-top: 1.5rem;

      a {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        padding: .5rem .5rem;
        color: $main-text-color;
        text-decoration: none;

        &.active {
          text-shadow: 0 0 .25rem rgba($main-text-color, .5);

          &:after {
            position: absolute;
            content: "";
            border-radius: 2px;
            left: -3px;
            top: 0;
            height: 100%;
            width: 3px;
            background-image: linear-gradient(to bottom, $main-color, $purple);
          }
        }
      }

      .profile-info {
        flex-direction: column;
        align-items: flex-start;
        padding-left: .5rem;
        margin-top: 2rem;

        .tag {
          padding-left: 0;

          &:after {
            display: none;
          }
        }

        .balance {
          margin-left: 0;
          margin-top: 4px;
          text-shadow: none !important;

          &:after {
            display: none;
          }
        }
      }
    }

    .close-menu {
      height: 18px;
      width: 18px;
      margin-left: auto;
      padding: 0;
      margin-top: 1.5rem;
      margin-right: 2rem;
      background: none;
      border: none;

      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .wrapper {
      width: 100%;
    }

    .wrapper .links, .wrapper .profile-info {
      display: none;
    }

    .slider, .wrapper .menu-toggler {
      display: flex;

      .links .language {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}