$bg-color: #001421;
$dark-bg-color: #000e17;
$main-color: #0099ff;
$deviant-blue: #605fff;
$purple: #7230FF;
$deviant-purple: #5c60ff;
$dark-purple: #5324B6;
$main-text-color: #ffffff;
$dimmed-text-color: #cecece;
$secondary-text-color: #999;

@mixin round-btn($color) {
  $second-color: if($color == $main-color, $deviant-blue, $deviant-purple);
  position: relative;
  display: inline-flex;
  background-color: $bg-color;
  background-image: linear-gradient(135deg, $color, $second-color);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-clip: padding-box;
  color: $color;
  font-weight: bold;
  padding: 1rem 3rem;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5rem;
  font-size: 18px;
  line-height: 20px;
  transition: background-color 0s linear 0s, background-size .15s;

  span {
    cursor: pointer;
    position: relative;
    display: block;
    background-image: linear-gradient(135deg, $color, $second-color);
    background-size: 150%;
    width: 100%;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    -webkit-background-clip: text;
    z-index: 1;
    transition: color .15s;

    @supports (-ms-ime-align: auto) or (-webkit-touch-callout: none) {
      color: $color
    }
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: -2px;
    background-image: linear-gradient(135deg, $color, $second-color);
    border-radius: inherit;
    z-index: -1;
  }

  &:hover, &.active {
    text-decoration: none !important;
    background-size: 100% 100%;
    background-color: transparent;
    transition: background-color 0s linear .1s, background-size .15s ease 0s;

    span {
      color: $bg-color;
    }

    &:before {
      bottom: -2px;
    }
  }

  &.disabled {
    pointer-events: none;
    background-size: 100% 100%;
    opacity: .7;
    transition: background-size .15s !important;

    span {
      color: $main-text-color !important;
    }
  }

  img {
    margin: auto;
    height: 18px;
  }

  @media screen and (max-width: 1024px) {
    &:not(.option):not(.room) {
      background-size: 100% 100%;
      color: $bg-color;

      span {
        color: $bg-color;
      }
    }
  }
}