@import "atoms";

@font-face {
  font-family: 'Nunito';
  src: url(./Nunito-ExtraLight.ttf) format("truetype");
  font-weight: 200
}

@font-face {
  font-family: 'Nunito';
  src: url(./Nunito-Regular.ttf) format("truetype");
  font-weight: 400
}

@font-face {
  font-family: 'Nunito';
  src: url(./Nunito-SemiBold.ttf) format("truetype");
  font-weight: 500
}

@font-face {
  font-family: 'Nunito';
  src: url(./Nunito-Bold.ttf) format("truetype");
  font-weight: 600
}

@font-face {
  font-family: 'Nunito';
  src: url(./Nunito-ExtraBold.ttf) format("truetype");
  font-weight: 700
}

* {
  cursor: default;
  box-sizing: border-box;
  outline: 0;

  &::-moz-focus-inner, &::-moz-focus-outer {
    border: 0;
  }
}

body {
  font-family: Nunito, sans-serif;
  position: relative;
  background-color: $bg-color;
  margin: 0;
  min-height: 100vh;
}

.grecaptcha-badge {
  display: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

h3 {
  color: $main-text-color;
  text-align: center;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 600;
}

.root {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
  min-height: 100vh;
  overflow: hidden;
  transition: 0s;

  &.blurred {
    filter: blur(5px);

    .app-loading {
      left: calc(-50vw + 50%)
    }
  }

  .container {
    margin: auto;
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 1024px) {
  .root {
    width: 960px;
  }

  input, textarea {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }
}

@media screen and (max-width: 960px) {
  .root {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .root {
    width: 480px;

    h3 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 480px) {
  .root {
    width: 100%;
    padding: 0 1rem;
  }
}