@import "src/static/atoms";

.faq {
  max-width: 640px;
  width: 100%;
  padding: 4rem 40px 0;

  .questions {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .question {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-height: 3rem;
      border-radius: 1.4rem;
      overflow: hidden;
      margin-bottom: 1.5rem;
      transition: .15s;

      &:before {
        content: "";
        position: absolute;
        border-radius: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(135deg, $purple, $deviant-purple);
        z-index: -1;
        opacity: .7;
        transition: .15s;
      }

      img {
        cursor: pointer;
        position: absolute;
        top: calc(1rem + 2px);
        right: 1rem;
        height: 12px;
        transition: .15s;
        z-index: 5;
      }

      .q {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        width: 100%;
        padding-right: 4rem;
        padding-left: 1.5rem;
        cursor: pointer;
        border: 2px solid transparent;
        background-clip: padding-box;
        color: $secondary-text-color;
        background-color: $dark-bg-color;
        height: 3rem;
        border-radius: 1.5rem;
        line-height: 16px;
        transition: .15s;
        z-index: 3;
      }

      .answer {
        position: relative;
        cursor: pointer;
        color: $secondary-text-color;
        background-color: $dark-bg-color;
        border: 2px solid transparent;
        background-clip: padding-box;
        width: 100%;
        max-height: 3rem;
        overflow: hidden;
        padding: 0 1.5rem calc(3rem - 6px);
        transition: .15s linear;
        border-radius: 1.4rem;
        z-index: 2;

        a {
          position: relative;
          cursor: pointer;
          color: transparent;
          background-image: linear-gradient(135deg, $main-color, $deviant-blue);
          -webkit-background-clip: text;
          font-weight: 600;
          white-space: nowrap;

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-image: inherit;
            transition: .15s;
          }

          &:hover:before {
            width: 100%;
          }
        }
      }

      &.active {
        .q {
          color: $main-text-color;
          margin-bottom: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:before {
          opacity: 1;
        }

        .answer {
          padding-top: calc(3rem - 3px);
          max-height: 10rem;
          padding-bottom: 1rem;
        }

        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .faq {
    width: 100%;
    padding: 4rem 1rem 0;

    .questions .question {
      font-size: 14px;
    }
  }
}